<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/" xmlns:xlink="http://www.w3.org/1999/xlink"
      OBJID="<%= @dip.ieid %>"
      LABEL="<%= @dip.package_id %>">
  
  <metsHdr CREATEDATE="<%= @dip.create_date.xmlschema %>">
    <agent ROLE="DISSEMINATOR" TYPE="ORGANIZATION">
      <name>FCLA</name>
    </agent>
  </metsHdr>
  <% myinfo = @type=='ORIG'? @dip.original_representation : @dip.current_representation %>
  <amdSec>
    <digiprovMD ID="package-digiprov">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="package-digiprov.xml"/>
    </digiprovMD>
<% myinfo.each_with_index do |e, i| %>
<%   if not @dip.events(e[:aip_id]).empty? %>
    <digiprovMD ID="digiprov-metadata-<%= i %>">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="digiprov-<%= e[:aip_id] %>.xml"/>
    </digiprovMD>
<%   end %>
<% end %>
  </amdSec>
  
  <fileSec>
    <fileGrp>
<% myinfo.each_with_index do |e,i| %>
      <file ID="file-<%= i %>" <% if not @dip.events(e[:aip_id]).empty? %> ADMID="digiprov-metadata-<%= i %>" <% end %> CHECKSUM="<%= e[:sha_1] %>" CHECKSUMTYPE="SHA-1">
        <FLocat LOCTYPE="URL" xlink:href="<%= File.join(@dip.rel_path, e[:path]) %>"/>
      </file>
<% end %>
    </fileGrp>
  </fileSec>
  
  <structMap>
    <div>
<% myinfo.each_index do |i| %>
      <fptr FILEID="file-<%= i %>"/>
<% end %>
    </div>
  </structMap>

</mets>
