<?xml version="1.0" encoding="UTF-8"?>
<mets xmlns="http://www.loc.gov/METS/" xmlns:xlink="http://www.w3.org/1999/xlink"
      OBJID="<%= @dip.ieid %>"
      LABEL="<%= @dip.package_id %>">

  <metsHdr CREATEDATE="<%= @dip.create_date.xmlschema %>">
    <agent ROLE="DISSEMINATOR" TYPE="ORGANIZATION">
      <name>FCLA</name>
    </agent>
  </metsHdr>
  
  <amdSec>
    <rightsMD ID="rights-metadata-0">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="rights.xml"/>
    </rightsMD>
    <digiprovMD ID="digiprov-metadata-0">
      <mdRef LOCTYPE="URL" MDTYPE="PREMIS" xlink:href="digiprov.xml"/>
    </digiprovMD>
  </amdSec>
  <fileSec>
    <fileGrp>
      <%# Note that this version of the xml template is not scalable. %>
      <%# It will have to be amended to address more than two representations. %>
      <file ID="file-0" CHECKSUM="<%= @orig[:sha_1] %>" CHECKSUMTYPE="SHA-1">
	<FLocat LOCTYPE="URL" xlink:href="rep-1.xml"/>
      </file>
      <file ID="file-1" CHECKSUM="<%= @active[:sha_1] %>" CHECKSUMTYPE="SHA-1">
	<FLocat LOCTYPE="URL" xlink:href="rep-2.xml"/>
      </file>
    </fileGrp>
  </fileSec>

  <structMap>
    <div>
      <div ORDER="1">
	<fptr FILEID="file-0"/>
      </div>
      <div TYPE="ACTIVE" ORDER="2">
	<fptr FILEID="file-1"/>
      </div>
    </div>
  </structMap>
  
</mets>
